body {
    background-color: #000; 
    color: #fff;
}
.navbar {
    background-color: #111;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
.navbar-brand img {
    margin-right: 8px;
}
.nav-link {
    color: #ddd;
    font-size: 0.95rem;
    margin-right: 20px;
}
.nav-link:hover {
    color: #fff;
}
footer {
    font-size: 0.9rem;
}
.btn {
    border-radius: 0;
}
.btn-premium {
    color: #e63946;
    border: 1px solid #e63946;
}
.btn-premium:hover {
    background-color: #e63946;
    color: #fff;
}
.list-group-item {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #333333;
}

.list-group-item:hover {
    background-color: #444444;
}